.secondary-btn, .primary-btn, .edit-btn,.remove-btn{
    border-radius: calc(0.5rem - 2px);
    padding: 0.5rem 1rem 0.5rem 1rem;
    font-size: var(--text-fontSize);
    font-weight: 500;
    cursor: pointer;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
}

.secondary-btn {
    background-color: var(--fondoBotonPrimario);
    color: var(--fuenteBotonPrimario);
    border: none;
}

.secondary-btn:hover, .primary-btn:hover,.edit-btn:hover,.remove-btn:hover {
    opacity: .9;
}

.primary-btn {
    background-color: var(--fondoBotonSecundario);
    color: var(--fuenteBotonSecundario);
    border: 1px solid var(--fuenteBotonSecundario);
}

.close-btn {
    width: 20px;
    height: 20px;
    font-size: var(--text-fontSize);
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--fondoNormal);
    background-color: var(--colorSeleccion2);
    border: none;
    box-shadow: 0px 0px 100px 0px rgba(0,0,0,0.4);
}

.edit-btn,.remove-btn{
   padding: 0;
   font-size: 0;
}