.dashboard {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.dashboard__pages {
    width: calc(100% - 80px);
    height: auto;
    position: relative;
    height: 100%;
    overflow-y: auto;
}