.ticketregistration {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  min-width: 95%;
  position: relative;
  padding: 48px 48px 0 48px;
}

.ticketregistration__box {
  border: 2px solid var(--trazo);
  border-radius: calc(0.5rem - 2px);
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 40px;
}

.ticketregistration__box-input {
  width: 70%;
  display: flex;
  justify-content: flex-start;
  align-items: end;
  gap: 10px;
  position: relative;
}

.ticketregistration__box-input > div {
  width: 70%;
}


.ticketregistration__footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}