:root {
  --fondoNormal: white;
  --fondoBotonPrimario: #09090b;
  --fondoBotonSecundario: #fafafa;
  --fuenteBotonPrimario: #fff;
  --fuenteBotonSecundario: #222225;
  --fuenteOscuro: #87878e;
  --fuenteNormal: #0f172a;
  --colorSelecion: #3f3f45;
  --colorSeleccion2: #e11d48;
  --colorSelecion3: #3b82f6;
  --colorSelecion4: #22c55e;
  --colorSelecion5: #ea580c;
  --colorSeleccion6: #6d28d9;
  --trazo: #e6ebf1;
  --colorMenu: #e2e8f0;
  --h1-fontsize: 2rem;
  --h2-fontsize: 1.2rem;
  --text-fontSize: 0.9rem;
}
