:root {
  --backgroundNormal: white;
  --backgroundButtonSecondary: #09090b;
  --backgroundButtonPrimary: #fafafa;
  --fontColorButtonPrimary: #222225;
  --fontColorButtonSecondary: #fff;
  --fontDark: #87878e;
  --fontNormal: #0f172a;
  --gray: #3f3f45;
  --red: #e11d48;
  --blue: #3b82f6;
  --green: #22c55e;
  --orange: #ea580c;
  --purple: #6d28d9;
  --outline: #e6ebf1;
  --menuColorSelection: #e2e8f0;
  --h1-fontsize: 2rem;
  --h2-fontsize: 1.2rem;
  --text-fontSize: 0.9rem;
}